body {
  background: #484855;
  color: var(--color-text);
  /*
    #DC3522
    #D9CB9E
    #374140
    #2A2C2B
    #1E1E20
    */

  --color-panel: #262630;
  --color-sub: #3a3b46;
  --color-text: #e8feff;
  --spacer: 12px;
  --border: 2px;
}

/*Spacing*/
.general-block,
.main-weather,
#search-panel {
  margin-inline: 1%;
  margin-bottom: var(--spacer);
}

.general-block,
.main-weather-block {
  background: var(--color-panel);
  padding: 2%;
  /* margin-inline: 1%; */
  /* margin-bottom: var(--spacer); */
  flex-grow: 1;
}

.forecast-block {
  background-color: var(--color-panel);
  /* padding-inline: 5px; */
  text-align: center;
}

.forecast-scroller {
  /*width: 90%;*/
  /*margin: var(--spacer);*/
  margin-inline: 1%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 120px;
  gap: var(--spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /*scroll-snap-type: inline mandatory;*/
}

/*.forecast-scroller > * {
  scroll-snap-align: start;
}*/

#search-panel {
  background: var(--color-panel);
  padding: 2%;
}

#search-bar {
  all: unset;
  background: var(--color-sub);
  padding-inline: 1%;
  width: 80%;
  height: 2.5rem;
  border: var(--color-panel) var(--border) inset;
}

#search-button {
  all: unset;
  background: var(--color-sub);
  /* padding: 5px; */
  color: var(--color-text);
  height: 2.5rem;
  border: var(--color-panel) var(--border) outset;
  padding-inline: 1%;
}

#search-button:active {
  border: var(--color-panel) var(--border) inset;
}

#search-button:focus-visible,
#search-bar:focus-visible {
  border-color: var(--color-text);
}

.shadow-text {
  font-style: italic;
  color: #757575;
}

.map-box {
  position: relative;
  width: 256px;
  height: 256px;
}

#wind-direction {
  width: 40px;
  filter: invert(100%);
}

.main-weather {
  display: flex;
  gap: var(--spacer);
}

.main-weather-block p {
  margin-block: 0.6em;
}
