@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 200;
}

body {
  background: #484855;
  color: var(--color-text);
  margin: 0;
  /*
    #DC3522
    #D9CB9E
    #374140
    #2A2C2B
    #1E1E20
    */

  --color-panel: #262630;
  --color-sub: #3a3b46;
  --color-text: #e8feff;
  --spacer: 1rem;
  --border: 2px;
}

/*Spacing*/
.general-block,
.main-weather,
#search-panel {
  margin: var(--spacer);
}

.general-block,
.main-weather-block {
  background: var(--color-panel);
  padding: 1rem;
  flex-grow: 1;
}

.forecast-block {
  background-color: var(--color-panel);
  text-align: center;
  padding: 1rem 0rem;
  width: 7rem;
}

.forecast-scroller {
  margin-inline: 1rem;
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 8rem; */
  gap: var(--spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  /* scroll-snap-type: inline mandatory; */
}

/* .forecast-scroller > * {
  scroll-snap-align: start;
} */

#search-panel {
  background: var(--color-panel);
  padding: 1rem;
  display: flex;
  gap: var(--spacer);
}

#search-bar {
  all: unset;
  background: var(--color-sub);
  padding-inline: 1rem;
  width: 80%;
  height: 2.5rem;
  border: var(--color-panel) var(--border) inset;
  flex-grow: 1;
}

#search-button {
  all: unset;
  background: var(--color-sub);
  color: var(--color-text);
  height: 2.5rem;
  border: var(--color-panel) var(--border) outset;
  padding-inline: 1rem;
}

#search-button:active {
  border: var(--color-panel) var(--border) inset;
}

#search-button:focus-visible,
#search-bar:focus-visible {
  border-color: var(--color-text);
}

.shadow-text {
  font-style: italic;
  color: #757575;
}

.map-box {
  position: relative;
  width: 256px;
  height: 256px;
}

#wind-direction {
  width: 3rem;
  filter: invert(100%);
}

.main-weather {
  display: flex;
  gap: var(--spacer);
}

.main-weather-block p {
  margin-block: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
